*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild

VariantConstants.java
output.json

keystore.properties

# Built application files
*.apk

# fastlane spesific
fastlane/report.xml
fastlane/.env.secret
fastlane/keyfile.json
fastlane/metadata
